<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=HP;Initial Catalog=szhp_cms;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ITJCMSEntities" connectionString="metadata=res://*/Database.CMS.csdl|res://*/Database.CMS.ssdl|res://*/Database.CMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HP;initial catalog=szhp_cms;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

</connectionStrings>
</configuration>