@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = null;
    ViewBag.Title = "Error";   
}


<head>
    <title>Application Error</title>
    <link href="~/Content/assets/css/custom-styles.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
</head>

<body>
    <div id="appError">
        <fieldset>
            <legend>

            </legend>
            <h1>Error.</h1>
            <h3><i class="fa fa-exclamation-circle"></i> An error occurred while processing your request. Please contact administrator</h3>          
            <span><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;<a href="/Home/Dashboard">Click Here To Go Back</a></span>
        </fieldset>
    </div>
</body>
